@model DocumentIndex
@{
    ViewData["Title"] = "Home Page";
    int countWhatsNew = 1;
    int countNewNoti = 1;
}
<style>
    .OrgStuc {
        border: 1px solid lightgrey;
        padding: 10px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 35px 20px lightgrey;
    }

    @@media only screen and (max-width:500px) {
        .title1 {
            font-size: 30px;
            margin-bottom: 15px;
            margin-top: 40px;
        }
    }      .GIGWMenu {
    width: 100%;
    display: none;
    height: 150px;
    margin-top: 115px;
    position: fixed;
    z-index: 9999999;
}
</style>
<section class="vs-values-wrapper vs-values-layout1 py-60">
    <div class="container">
        <div class="row justify-content-center text-center">
        </div>
    </div>
</section>
<section class="vs-values-wrapper vs-values-layout1">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-9 col-xl-7">
                <div class="section-title">
                    <h2 class="title1">Organisation Structure</h2>
                    <span class="icon">
                        <img src="../assets/img/icon/hierarchy.png" style="width: 20%;"
                             alt="Section Title Icons">
                    </span>
                    <p class="text">Labour Wing and Factory wing.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="vs-values-wrapper vs-values-layout1">
    <div class="container" style="text-align: center;">
        <div class="OrgStuc">
            <span class="icon">
                @if (Model.isContentAllow)
                {
                    <img src="../assets/img/Org/Org1.jpeg"
                         alt="Section Title Icons">
                }
                else
                {
                    <img src="../assets/img/Org/Org.jpeg"
                         alt="Section Title Icons">
                }
                
            </span>
        </div>
    </div>
</section>
