<style>
          .GIGWMenu {
    width: 100%;
    display: none;
    height: 150px;
    margin-top: 115px;
    position: fixed;
    z-index: 9999999;
}
</style><section class="vs-values-wrapper vs-values-layout1 pt-60 pt-lg-130">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-9 col-xl-7">
                <div class="section-title">
                    <h2 class="title1">Punjab Welfare Board</h2>
                    <span class="icon">
                        <img src="../assets/img/icon/laborers.png" style="width: 20%;" alt="Section Title Icons">
                    </span>
                    <p class="text">Registration of Industrial workers in the State of Punjab</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vs-product-wrapper product-details-layout1">
    <div style="padding: 10px;">
        <ul class="nav product-tab-style1 mb-3 pt-lg-5 pt-4" id="productTab" role="tablist">
            <li><a id="newNoti-tab" data-toggle="tab" href="#newNoti" role="tab" aria-controls="newNoti" aria-selected="false" class="active">Punjab Labour Welfare Board (PLWB) Scheme Documents</a></li>
            <li><a id="centralActs-tab" data-toggle="tab" href="#centralActs" role="tab" aria-controls="centralActs" aria-selected="false">Welfare Schemes ,Proformas and Notifications</a></li>
        </ul>
        <div class="tab-content" id="productDetailsTab">
            <div class="tab-pane show active" id="newNoti" aria-labelledby="newNoti-tab">
                <div class="product-description">
                    <div class="inner-list">
                        <ul class="row">
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/PunjabWalfare/Scheme%20No.%201%20-%20Stipend%20Scheme.pdf" target="_blank">
                                    <h6 class="heading6" data-toggle="tooltip" title="Scheme No. 1 - Stipend Scheme.">Scheme No. 1 - Stipend Scheme.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/PunjabWalfare/Scheme%20No.%202%20-%20Shagun%20Scheme.pdf" target="_blank">
                                    <h6 class="heading6" data-toggle="tooltip" title="Scheme No. 2 - Shagun Scheme.">Scheme No. 2 - Shagun Scheme.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/PunjabWalfare/Scheme%20No.%203%20-%20Exgratia%20and%20funeral%20expenses.pdf" target="_blank">
                                    <h6 class="heading6" data-toggle="tooltip" title="Scheme No. 3 - Exgratia and funeral expenses.">Scheme No. 3 - Exgratia and funeral expenses.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/PunjabWalfare/Scheme%20No.%204%20-%20FuneralCremation%20expenses%20(in%20case%20of%20death%20of%20dependent).pdf" target="_blank">
                                    <h6 class="heading6" data-toggle="tooltip" title="Scheme No. 4 - FuneralCremation expenses (in case of death of dependent).">Scheme No. 4 - FuneralCremation expenses (in case of death of dependent).</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/PunjabWalfare/Scheme%20No.%205%20-%20Travel%20Expenses%20Scheme.pdf" target="_blank">
                                    <h6 class="heading6" data-toggle="tooltip" title="Scheme No. 5 - Travel Expenses Scheme.">Scheme No. 5 - Travel Expenses Scheme.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/PunjabWalfare/Scheme%20No.%206%20-%20Loan%20Scheme.pdf" target="_blank">
                                    <h6 class="heading6" data-toggle="tooltip" title="Scheme No. 6 - Loan Scheme.">Scheme No. 6 - Loan Scheme.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/PunjabWalfare/Scheme%20No.%207%20-%20Maternity%20Benefits%20Scheme.pdf" target="_blank">
                                    <h6 class="heading6" data-toggle="tooltip" title="Scheme No. 7 - Maternity Benefits Scheme.">Scheme No. 7 - Maternity Benefits Scheme.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/PunjabWalfare/Scheme%20No.%208%20-%20General%20Surgery-Treatment%20of%20Dangerous%20Disease.pdf" target="_blank">
                                    <h6 class="heading6" data-toggle="tooltip" title="Scheme No. 8 - General Surgery-Treatment of Dangerous Disease.">Scheme No. 8 - General Surgery-Treatment of Dangerous Disease.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/PunjabWalfare/Scheme%20No.%209%20-%20Financial%20Subsidy%20for%20Spectacles,%20Dental%20treatment,%20hearing-aids,%20wheel-chair,%20Oxy-Meter.pdf" target="_blank">
                                    <h6 class="heading6" data-toggle="tooltip" title="Scheme No. 9 - Financial Subsidy for Spectacles, Dental treatment, hearing-aids, wheel-chair, Oxy-Meter.">Scheme No. 9 - Financial Subsidy for Spectacles, Dental treatment, hearing-aids, wheel-chair, Oxy-Meter.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/PunjabWalfare/Scheme%20No.%2010%20-%20Mentally%20retarded%20children%20benefit%20scheme.pdf" target="_blank">
                                    <h6 class="heading6" data-toggle="tooltip" title="Scheme No. 10 - Mentally retarded children benefit scheme.">Scheme No. 10 - Mentally retarded children benefit scheme.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/PunjabWalfare/Scheme%20No.%2011%20-%20Disability%20Compensation%20Scheme.pdf" target="_blank">
                                    <h6 class="heading6" data-toggle="tooltip" title="Scheme No. 11 - Disability Compensation Scheme.">Scheme No. 11 - Disability Compensation Scheme.</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="centralActs" aria-labelledby="centralActs-tab">
                <div class="product-description">
                    <div class="inner-list">
                        <div class="row">
                            <ul style="width: 95%; margin-left: auto; margin-right: auto; float: left; border: 1px solid rgb(231, 231, 231);; padding: 30px; margin-bottom: 10px; border-radius: 10px; background: rgb(238, 238, 238);">
                                <h6 class=".heading6">
                                    Chapter 04 :
                                    <hr>
                                </h6>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/PunjabWalfare/Welfare%20Board%20Schemes%20Punjabi.pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="" data-original-title="Welfare Schemes run by Punjab Labour Welfare Board">
                                            1. Welfare Schemes run by Punjab Labour Welfare Board.
                                        </h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/PunjabWalfare/Welfare%20Board%20Schemes%20in%20english(1).pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="" data-original-title="Bullet Points of Welfare Schemes of Labour Welfare Board.">
                                            2. Bullet Points of Welfare Schemes of Labour Welfare Board
                                        </h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/PunjabWalfare/Welfare%20Board%20Scheme%20Performas.pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="" data-original-title="Performas of Schemes.">3. Performas of Schemes.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/PunjabWalfare/DOC001.pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="" data-original-title="Service ByLaws of Board Staff.">4. Service ByLaws of Board Staff.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/PunjabWalfare/notification%20_%20june_welfare_board.pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="" data-original-title="Notification dated 28.06.2017 regarding  constitution of Punjab Labour Welfare Board.">5. Notification dated 28.06.2017 regarding  constitution of Punjab Labour Welfare Board.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/PunjabWalfare/Notifications%20all.pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="" data-original-title="Notification All.">6. Notification All.</h6>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="vs-product-wrapper product-details-layout1">
    <div style="padding: 10px;">
        <ul class="nav product-tab-style1 mb-3 pt-lg-5 pt-4" id="productTab" role="tablist">
            <li><a id="newNoti-tab" data-toggle="tab" href="#newNoti" role="tab" aria-controls="newNoti" aria-selected="false" class=""> Welfare Schemes ,Proformas and Notifications</a></li>
        </ul>
            <div class="tab-pane active" id="centralActs" aria-labelledby="centralActs-tab">
                <div class="product-description">
                    <div class="inner-list">
                        <ul class="row">
                            <ul style="width: 95%; margin-left: auto; margin-right: auto; float: left; border: 1px solid rgb(231, 231, 231);; padding: 30px; margin-bottom: 10px; border-radius: 10px; background: rgb(238, 238, 238);">
                                <h6 class=".heading6">
                                    Chapter 04 :
                                    <hr>
                                </h6>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/PunjabWalfare/Welfare%20Board%20Schemes%20Punjabi.pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="" data-original-title="Welfare Schemes run by Punjab Labour Welfare Board">
                                            1. Welfare Schemes run by Punjab Labour Welfare Board.
                                        </h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/PunjabWalfare/Welfare%20Board%20Schemes%20in%20english(1).pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="" data-original-title="Bullet Points of Welfare Schemes of Labour Welfare Board.">
                                            2. Bullet Points of Welfare Schemes of Labour Welfare Board
                                        </h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/PunjabWalfare/Welfare%20Board%20Scheme%20Performas.pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="" data-original-title="Performas of Schemes.">3. Performas of Schemes.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/PunjabWalfare/DOC001.pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="" data-original-title="Service ByLaws of Board Staff.">4. Service ByLaws of Board Staff.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/PunjabWalfare/notification%20_%20june_welfare_board.pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="" data-original-title="Notification dated 28.06.2017 regarding  constitution of Punjab Labour Welfare Board.">5. Notification dated 28.06.2017 regarding  constitution of Punjab Labour Welfare Board.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/PunjabWalfare/Notifications%20all.pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="" data-original-title="Notification All.">6. Notification All.</h6>
                                    </a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@