<style>
    @@media only screen and (max-width:500px) {
        .title1 {
            font-size: 32px;
            margin-bottom: 15px;
            margin-top: 30px;
        }
    }      .GIGWMenu {
    width: 100%;
    display: none;
    height: 150px;
    margin-top: 115px;
    position: fixed;
    z-index: 9999999;
}
</style>
<section class="vs-values-wrapper vs-values-layout1 py-60">
    <div class="container">
        <div class="row justify-content-center text-center">
        </div>
    </div>
</section>
<section class="vs-values-wrapper vs-values-layout1">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-9 col-xl-7">
                <div class="section-title">
                    <h2 class="title1">Right to Information</h2>
                    <span class="icon">
                        <img src="../assets/img/icon/information.png" style="width: 20%;"
                             alt="Section Title Icons">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vs-values-wrapper vs-values-layout1">
    <div class="container">
        <div class="row justify-content-center text-center">
        </div>
    </div>
</section>
<section class="vs-product-wrapper product-details-layout1">
    <div style="padding: 10px;">
        <ul class="nav product-tab-style1 mb-3 pt-lg-5 pt-4" id="productTab" role="tablist">
            <li><a id="newNoti-tab" data-toggle="tab" href="#newNoti" role="tab" aria-controls="newNoti" aria-selected="false" class="active">Secretary Labour</a></li>
            <li><a id="centralActs-tab" data-toggle="tab" href="#centralActs" role="tab" aria-controls="centralActs" aria-selected="false">Commissioner Labour</a></li>
            <li><a id="stateActs-tab" data-toggle="tab" href="#stateActs" role="tab" aria-controls="stateActs" aria-selected="false">Labour Welfare Board</a></li>
            <li>
                <a id="exemptionPolicies-tab" data-toggle="tab" href="#exemptionPolicies" role="tab" aria-controls="exemptionPolicies" aria-selected="true">
                    Building & Other Construction
                    Workers Welfare Board
                </a>
            </li>
        </ul>
        <div class="tab-content" id="productDetailsTab">
            <div class="tab-pane show active" id="newNoti" aria-labelledby="newNoti-tab">
                <div class="product-description">
                    <div class="inner-list">
                        <ul class="row">
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/html/PDF/Right to information, PSL.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Chapters 01 - 17">Chapters 01 - 17</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="centralActs" aria-labelledby="centralActs-tab">
                <div class="product-description">
                    <div class="inner-list">
                        <ul class="row">
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/html/shop2021.pdf" target="_blank">
                                    <h6 class=".heading6">Chapter 01 - Index/Introduction to Handbook.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/html/covidism.pdf" target="_blank">
                                    <h6 class=".heading6">Chapter 02 - Introduction of Labour Department.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/html/covidmotortransport.pdf" target="_blank">
                                    <h6 class=".heading6">
                                        Chapter 03 - Powers and duties of officers and employees.
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/Content/rti_chapter04.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Chapter 04 - Rules, regulations, manuals and records for discharging functions.">
                                        Chapter 04 - Rules, regulations, manuals and records...
                                    </h6>
                                </a>

                            </li>
                            <ul style="width: 95%; margin-left: auto; margin-right: auto; float: left; border: 1px solid rgb(231, 231, 231);; padding: 30px; margin-bottom: 10px; border-radius: 10px; background: rgb(238, 238, 238);">
                                <h6 class=".heading6">
                                    Chapter 04 :
                                    <hr>
                                </h6>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/RTI/Class II Service Rules.pdf" target="_blank">
                                        <h6 class=".heading6">1. Class II Service Rules.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/RTI/Punjab Control of Industrial Major  Accident  Hazards ( Amendment )  Rules, 2002.pdf" target="_blank">
                                        <h6 class=".heading6" data-toggle="tooltip" title="Punjab Control of Industrial Major Accident Hazards (Amendment ) Rules, 2002.">
                                            2. Punjab Control of Industrial Major Accident Hazards...
                                        </h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/RTI/Punjab_Labour_Group_B_RULES_2005.pdf" target="_blank">
                                        <h6 class=".heading6">3. Punjab Labour _Group ‘B’_RULES, 2005.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/RTI/State Service Class-III Rules 1969.pdf" target="_blank">
                                        <h6 class=".heading6">4. State Service Class-III Rules 1969.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/RTI/The Punjab Factories Rules.pdf" target="_blank">
                                        <h6 class=".heading6">5. The Punjab Factories Rules.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/RTI/Punjab Labour (Class-1) Service Rules, 1983..pdf" target="_blank">
                                        <h6 class=".heading6">6. Punjab Labour (Class-1) Service Rules, 1983.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/RTI/Class-II Service Rule 2 Appendix A.pdf" target="_blank">
                                        <h6 class=".heading6">7. Class-II Service Rule 2 Appendix A.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/RTI/ALL NOTIFICATIONS NEW.pdf" target="_blank">
                                        <h6 class=".heading6">8. New Notification.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/RTI/Factories _ Punjab _ Exempting Rules 2008.pdf" target="_blank">
                                        <h6 class=".heading6">9. Factories Punjab Exempting Rules 2008.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/RTI/Punjab Major Accident Hazard Control Rules 2002.pdf" target="_blank">
                                        <h6 class=".heading6">
                                            10. Punjab Major Accident Hazard Control Rules 2002.
                                        </h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/RTI/The Punjab Factory Rules 1952.pdf" target="_blank">
                                        <h6 class=".heading6">11. The Punjab Factory Rules 1952.</h6>
                                    </a>
                                </li>
                                <li class="col-sm-12 col-md-6">
                                    <a href="../assets/Pdf/RTI/The Punjab Welfare Officers _ Recruitment and Conditions of Services_ Rules 1952.pdf" target="_blank">
                                        <h6 class=".heading6">
                                            12. The Punjab Welfare Officers Recruitment and Condition...
                                        </h6>
                                    </a>
                                </li>
                            </ul>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/rti_chapter05.pdf" target="_blank">
                                    <h6 class=".heading6">Chapter 05 - Formulation of Policy.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/rti_chapter06.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Chapter 06 - A statement of the categories of documents that are held by its or under its control">
                                        Chapter 06 - A statement of the categories of documents that...
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/rti_chapter07.pdf" target="_blank">
                                    <h6 class=".heading6">Chapter 07 - Punjab labour welfare board & industrial safety council.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/PIO-APIO Department.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Chapter 08 - Public Information Officers and Appllate Authority under the RTI Act, 2005.">
                                        Chapter 08 - Public Information Officers and Appllate...
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/rti_chapter09.pdf" target="_blank">
                                    <h6 class=".heading6">
                                        Chapter 09 - The procedure followed in the decision making process.
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/PIO-APIO Department.pdf" target="_blank">
                                    <h6 class=".heading6">Chapter 10 - The Directory of officers and employees.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/11.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Chapter 11 - The monthly remuneration received by each of its officers an employees">
                                        Chapter 11 - The monthly remuneration received by...
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/CHAPTER-12.pdf" target="_blank">
                                    <h6 class=".heading6">
                                        Chapter 12 - The budget allocated to each of its agency.
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/rti_chapter13.pdf" target="_blank">
                                    <h6 class=".heading6">
                                        Chapter 13 - The manner of execution of subsidy programmes.
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/rti_chapter14.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Chapter 14 - Particulars of recipients of concessions, permits or authorizations granted by it">
                                        Chapter 14 - Particulars of recipients of concessions, per...
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/rti_chapter15.pdf" target="_blank">
                                    <h6 class=".heading6">
                                        Chapter 15 - The norms set by it for the discharge of its functions.
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/CHAPTER-16.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Chapter 16 - Details in respect of the information, available with the department">
                                        Chapter 16 - Details in respect of the information, avail...
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/rti_chapter17.pdf" target="_blank">
                                    <h6 class=".heading6">
                                        Chapter 17 - Facilities available to citizens for obtaining information.
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/rti_chapter18.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="The Contract Labour(Regulation and Abolition) Punjab Amendment)Ordinace">
                                        Chapter 18 - Other useful information.
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/Notifcations and Others.rar" target="_blank">
                                    <h6 class=".heading6">
                                        Notification and Others.
                                    </h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="stateActs" aria-labelledby="stateActs-tab">
                <div class="product-description">
                    <div class="inner-list">
                        <ul class="row">
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/01.pdf" target="_blank">
                                    <h6 class=".heading6">
                                        Chapter 01 - Particulars of Organization, Functions and Duties.
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/02.pdf" target="_blank">
                                    <h6 class=".heading6">
                                        Chapter 02 - Powers and duties of officers and employees.
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/03.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Chapter 03 - Rules, regulations, manuals and records for discharging functions.">
                                        Chapter 03 - Rules, regulations, manuals and records for discharg...
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/04.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="The Punjab Industrial Establishments (National and Festival, Holidays, Casual and Sick Leave) Act 1965">
                                        Chapter 04 - Formulation of Policy.
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/05.pdf" target="_blank">
                                    <h6 class=".heading6">
                                        Chapter 05 - A statement of the categories of documents that are...
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/06.pdf" target="_blank">
                                    <h6 class=".heading6">Chapter 06 - Punjab labour welfare board & industrial safety council.</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/07.pdf" target="_blank">
                                    <h6 class=".heading6">
                                        Chapter 07 - Public Information Officers and Appllate Authority und...
                                    </h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/RTI/08.pdf" target=" _blank ">
                                    <h6 class=".heading6">
                                        Chapter 08 - The procedure followed in the decision making process.
                                    </h6>
                                </a>
                            </li>
                            <li style="width:50%;float: left; margin-bottom:0px; ">
                                <a href="#" target="_blank ">
                                    <h6 class=".heading6 ">Chapter 09 - The Directory of officers and employees.</h6>
                                </a>
                            </li>
                            <li style="width:50%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/RTI/10.pdf" target="_blank ">
                                    <h6 class=".heading6">
                                        Chapter 10 - The monthly remuneration received by each of its offi...
                                    </h6>
                                </a>
                            </li>
                            <li style="width:50%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/RTI/11.pdf" target="_blank ">
                                    <h6 class=".heading6 ">
                                        Chapter 11 - The budget allocated to each of its agency.
                                    </h6>
                                </a>
                            </li>
                            <li style="width:50%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/RTI/12.pdf" target="_blank ">
                                    <h6 class=".heading6 ">
                                        Chapter 12 - The manner of execution of subsidy programmes.
                                    </h6>
                                </a>
                            </li>
                            <li style="width:50%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/RTI/13.pdf" target="_blank ">
                                    <h6 class=".heading6">
                                        Chapter 13 - Particulars of recipients of concessions, permits or...
                                    </h6>
                                </a>
                            </li>
                            <li style="width:50%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/RTI/14.pdf" target="_blank ">
                                    <h6 class=".heading6 ">
                                        Chapter 14 - The norms set by it for the discharge of its functions.
                                    </h6>
                                </a>
                            </li>
                            <li style="width:50%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/documents/pdf/notifications/18.11.09/Notification 15 th April, 2008.pdf " target="_blank ">
                                    <h6 class=".heading6 " data-toggle="tooltip " title="Chapter 15 - Details in respect of the information, available with the department. ">
                                        Chapter 15 - Details in respect of the information, available with th...
                                    </h6>
                                </a>
                            </li>
                            <li style="width:50%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/documents/pdf/notifications/18.11.09/Notification 20th February, 2009.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 16 - Facilities available to citizens for obtaining information.</h6>
                                </a>
                            </li>
                            <li style="width:50%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/documents/pdf/notifications/18.11.09/PUNJAB INDUSTRIAL SAFETY COUNCIL Memorandum.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 17 - Other useful information.</h6>
                                </a>
                            </li>
                            <li style="width:50%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/documents/pdf/notifications/18.11.09/Punjab Industrial Safety Council.pdf " target="_blank ">
                                    <h6 class=".heading6 ">(b) Notification.</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="exemptionPolicies" aria-labelledby="exemptionPolicies-tab ">
                <div class="product-description ">
                    <div class="inner-list ">
                        <ul style="width: 100%; float: left; ">
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/01.pdf " target="_blank ">
                                    <h6 class=".heading6 ">
                                        Chapter 01 - Particulars of Organization, Functions and Duties.
                                    </h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/02.pdf " target="_blank ">
                                    <h6 class=".heading6 ">
                                        Chapter 02 - Powers and duties of officers and employees.
                                    </h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/03.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 03 - Decision making process, including channels of supervision and accountability.</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/04.pdf " target="_blank ">
                                    <h6 class=".heading6 ">
                                        Chapter 04 - Norms set for Discharge of Functions.
                                    </h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/05.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 05 - The rules, regulations, instructions, manuals and records, used by employees for discharging functions.</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/06.pdf " target="_blank ">
                                    <h6 class=".heading6 ">
                                        Chapter 06 - Categories of Documents that are held for discharging functions.
                                    </h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/07.pdf " target="_blank ">
                                    <h6 class=".heading6 ">
                                        Chapter 07 - The particulars of any arrangement that exists for consultation with, or representation by, the members of the public in relation to the formulation of its policy or implementation thereof.
                                    </h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/08.pdf " target="_blank ">
                                    <h6 class=".heading6 ">
                                        Chapter 08 - a statement of the boards, councils, committees and other bodies consisting of two or more persons constituted as its parts or for the purpose of advice, and as to whether meetings of those boards,
                                        councils, committees and other bodies are open to the public, or the minutes of such meetings are accessible for public.
                                    </h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/09.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 09 - The Directory of officers and employees.</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/10.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 10 - The monthly remuneration received by each of its officers an employees.</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/11.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 11 - The budget allocated to each of its agency, indicating the particulars of all plans, proposed expenditures and reports on disbursements made.</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/12.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 12 - The manner of execution of subsidy programmes, including the amounts allocated and the details of beneficiaries of such programmes.</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/13.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 13 - Particulars of recipients of concessions, permits or authorizations reduced in an electronic form.</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/14.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 14 - Details in respect of the information, available to citizens for obtaining information, including the working hours of a library or reading room, if maintained for public use.</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/15.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 15 - The particulars of facilities available to citizens for obtaining information, including the working hours of a library or reading room, if maintained for public use</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/16.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 16 - The names, designations and other particulars of the Public Information Officers.</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/17.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Chapter 17 - Such other information as may be prescribed Detail of RTI applications received and disposed of.</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/RTi.pdf " target="_blank ">
                                    <h6 class=".heading6 ">PIO/APIO</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/Registration.pdf " target="_blank ">
                                    <h6 class=".heading6 ">Registration Performa</h6>
                                </a>
                            </li>
                            <li style="width:100%;float: left; margin-bottom:0px; ">
                                <a href="../assets/Pdf/Content/PIOs.pdf " target="_blank ">
                                    <h6 class=".heading6 ">PIOs of Industrial Tribunal</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vs-values-wrapper vs-values-layout1 py-60 " style="margin-top: -50px; ">
    <div class="container " style="clear: both; ">
        <div class="row justify-content-center text-center ">
        </div>
    </div>
</section>