<style>      .GIGWMenu {
    width: 100%;
    display: none;
    height: 150px;
    margin-top: 115px;
    position: fixed;
    z-index: 9999999;
}</style><section class="vs-values-wrapper vs-values-layout1 py-60">
    <div class="container">
        <div class="row justify-content-center text-center">
        </div>
    </div>
</section>
<section class="vs-values-wrapper vs-values-layout1">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-9 col-xl-7">
                <div class="section-title">
                    <h2 class="title1">Right to Information Service</h2>
                    <span class="icon">
                        <img src="../assets/img/icon/team.png" style="width: 20%;"
                             alt="Section Title Icons">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vs-values-wrapper vs-values-layout1 py-60">
    <div class="container" style="text-align: center;">
        <div class="OrgStuc">
            <span class="icon">
                <img src="../assets/img/Org/RTISBanners.jpg"
                     alt="Section Title Icons">
            </span>
        </div>
    </div>
</section>

<div class="container" style="margin-bottom: 50px;">
    <div class="divider-layout1">
        <span class="icon">
            <img src="../assets/img/icon/history-book.png" style="width: 50%;" alt="Section Title Icons">
        </span>
    </div>
</div>

<section class="vs-values-wrapper vs-values-layout1 py-60">
    <div class="container" style="text-align: center;">
        <div class="OrgStuc">
            <span class="icon">
                <img src="../assets/img/Org/RTISBanners1.jpg"
                     alt="Section Title Icons">
            </span>
        </div>
    </div>
</section>