<style>
          .GIGWMenu {
    width: 100%;
    display: none;
    height: 150px;
    margin-top: 115px;
    position: fixed;
    z-index: 9999999;
}
</style><section class="vs-values-wrapper vs-values-layout1 py-60">
    <div class="container">
        <div class="row justify-content-center text-center">
        </div>
    </div>
</section>
<section class="vs-values-wrapper vs-values-layout1">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-9 col-xl-7">
                <div class="section-title">
                    <h2 class="title1">Forms and Procedures</h2>
                    <span class="icon">
                        <img src="../assets/img/icon/checklist.png" style="width: 20%;"
                             alt="Section Title Icons">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vs-product-wrapper product-details-layout1">
    <div class="col-12">
        <ul class="nav product-tab-style1 mb-3 pt-lg-5 pt-4" id="productTab" role="tablist">
            <li><a id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="false" class="active">Form</a></li>
            <li><a id="procedure-tab" data-toggle="tab" href="#procedure" role="tab" aria-controls="procedure" aria-selected="false" class="">Procedure</a></li>
        </ul>
        <div class="tab-content" id="productDetailsTab">
            <div class="tab-pane show active" id="form" aria-labelledby="form-tab">
                <div class="product-description">
                    <div class="inner-list">
                        <ul class="row">
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/fromgrant.pdf" target="_blank">
                                    <h6 class=".heading6">Forms for Registration, Grant/Renewal of Licence</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/fromsubmitBulid.pdf" target="_blank">
                                    <h6 class=".heading6">Forms for submission of Building Plans</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/Procedures/Registration_Forms_under_Shop_Act.pdf" target="_blank">
                                    <h6 class=".heading6">Forms under Punjab Shops and Commercial Establishment Act, 1958</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/Procedures/Forms_of_Registration_under_Contract_Labour_Act_1970.pdf" target="_blank">
                                    <h6 class=".heading6">Contract Labour (Regulation & Abolition) Act, 1970</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/form02_minimum_wages_act_1948.pdf" target="_blank">
                                    <h6 class=".heading6">Minimum Wages Act, 1948</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/form03_payment_of_gratuity_act_1972.pdf" target="_blank">
                                    <h6 class=".heading6">Payment of Gratuity Act, 1972</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/form04_payment_of_wages_act_1936.pdf" target="_blank">
                                    <h6 class=".heading6">Payment Of Wages Act, 1936</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/form05_workmens_compensation_act_1923.pdf" target="_blank">
                                    <h6 class=".heading6">Workmen’s Compensation Act, 1923</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/InterStateMigrant.pdf" target="_blank">
                                    <h6 class=".heading6">Interstate Migrant Forms</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="procedure" aria-labelledby="procedure-tab">
                <div class="product-description">
                    <div class="inner-list">
                        <ul class="row">
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/Procedures/Registration_grant_of Licence_under_the_Factories_Act_1948.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Procedure and Timeline for Registration, Grant/Renewal of Licence to run the Factory under The Factories Act, 1948">Procedure and Timeline for Registration, Grant/Renewal...</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/Procedures/Procedure_and_timeline_for_submission_of_building_plan.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Procedure and Timeline for the Submission of Building Plans under The Factories Act, 1948">Procedure and Timeline for the Submission of Building Plans...</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/Procedures/Notification_regarding_issue_of_Factory_licence.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Notification regarding issue of Factory licence and all subsequent renewals with validity of 10 years">Notification regarding issue of Factory licence and all su...</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/Procedures/InspectionProcedure_Checklist.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Inspection Procedure & Checklist of Documents under various Labour Laws">Inspection Procedure & Checklist of Documents under vario...</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/grant.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Procedure for Registration, Grant/Renewal of Licence and submission of Building Plans">Procedure for Registration, Grant/Renewal of Licence and submission...</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/Procedures/Procedure_under_Shop_Act.pdf" target="_blank">
                                    <h6 class=".heading6" data-toggle="tooltip" title="Procedure for Registration, Grant/Renewal of Licence under Punjab Shops and Commercial Establishment">Procedure for Registration, Grant/Renewal of Licence under...</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/site.pdf" target="_blank">
                                    <h6 class=".heading6">Procedure for approval of Site</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/inspection.pdf" target="_blank">
                                    <h6 class=".heading6">Categorization of Factories for the Purpose of Inspections</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/procedure01_bonded_labour_system_abolition_act_1976.pdf" target="_blank">
                                    <h6 class=".heading6">Bonded Labour System (Abolition) Act, 1976</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/procedure02_child_labour_prohibition_regulation_act_1986.pdf" target="_blank">
                                    <h6 class=".heading6">Child Labour (Prohibition & Regulation) Act, 1986</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/procedure03_contract_labour_regulation_abolition_act_1970.pdf" target="_blank">
                                    <h6 class=".heading6">Contract Labour (Regulation & Abolition) Act, 1970</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/procedure04_minimum_wages_act_1948.pdf" target="_blank">
                                    <h6 class=".heading6">Minimum Wages Act, 1948</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/procedure05_payment_of_gratuity_act_1972.pdf" target="_blank">
                                    <h6 class=".heading6">Payment of Gratuity Act, 1972</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/procedure06_payment_of_wages_act_1936.pdf" target="_blank">
                                    <h6 class=".heading6">Payment Of Wages Act, 1936</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/forms_procedures/procedure07_workmens_compensation_act_1923.pdf" target="_blank">
                                    <h6 class=".heading6">Workmen’s Compensation Act, 1923</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/Procedures/Registration_of_Establishment_under_BOCW_Act_1996.pdf" target="_blank">
                                    <h6 class=".heading6">Procedure for Registration of Establishment under BOCW Act, 1996</h6>
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6">
                                <a href="../assets/Pdf/documents/pdf/Procedures/Punjab BOCW Board.PDF" target="_blank">
                                    <h6 class=".heading6">Vigilance Committee on Bonded Labour Notification</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row"></div>
<section class="vs-values-wrapper vs-values-layout1 py-60 " style="margin-top: -50px;">
</section>