<style>
    .title1 {
        font-size: 45px;
        text-transform: none;
        line-height: 1;
        margin-top: 0px;
        margin-bottom: 0px;
        position: relative;
    }

    .floatLeft {
        float: left;
    }

    .blog-comments-layout1 .comment-content {
        width: 100%;
        margin-top: -5px;
    }

    .blog-comments-layout1 .text {
        margin-bottom: 0;
        text-align: left;
    }

    .projects-box-layout1 .project-content {
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        padding: 40px;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
    }

    .projects-box-layout1 .vs-project:hover .project-content {
        left: 930px;
        opacity: 1;
        visibility: visible;
    }

    @@media only screen and (max-width:500px) {
        .section-title {
            margin-top: 45px;
            margin-bottom: 30px;
        }

        .pb-40 {
            margin-top: 100px;
            padding-bottom: 40px;
        }

        .title1 {
            font-size: 21px;
            text-transform: none;
            line-height: 1;
            margin-top: 0px;
            margin-bottom: 0px;
            position: relative;
            margin: 0px;
        }
    }    .GIGWMenu {
    width: 100%;
    display: none;
    height: 150px;
    margin-top: 115px;
    position: fixed;
    z-index: 9999999;
}
</style>
<section class="vs-values-wrapper vs-values-layout1 py-60 py-lg-130" style="margin-bottom: -225px;">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-9 col-xl-7">
                <div class="section-title">
                    <h2 class="title1">Private Policy</h2>
                    <span class="icon">
                        <img src="../assets/img/icon/privatepolicy.png" style="width: 20%;"
                             alt="Section Title Icons">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vs-testimonial-wrapper vs-testimonial-layout1 py-60 py-lg-130">
    <div class="container">
        <div class="testimonial-area pt-30 pt-lg-80 pb-10 pb-lg-50 px-20 px-md-40 px-lg-80 px-xl-100 mb-30 bg-white">
            <div class="testimonial-content-area vs-carousel slick-initialized slick-slider" id="testomonial-content" data-fade="true" data-slidetoshow="1" data-asnavfor="#author-image">
                <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 6120px;">
                        <div class="testimonial-content text-center slick-slide slick-last slick-first" data-slick-index="0" aria-hidden="true" style="width: 1020px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 1000ms ease 0s;" tabindex="-1">
                            <h3 class="name mb-0 heading5">Adam Jonas</h3><span class="degi text-title">Cleaner</span>
                            <p class="text font-medium text-title pt-25">
                                “ Seamlessly repurpose 24/7 e-business vis-a-vis resource sucking customer service. Efficiently unleash backward-compatible manufactured products whereas backward-compatible infrastructures. Dynamically cultivate process-centric
                                relationships and progressive platforms ”
                            </p>
                        </div>
                        <div class="testimonial-content text-center slick-slide slick-last slick-first" data-slick-index="1" aria-hidden="true" style="width: 1020px; position: relative; left: -1020px; top: 0px; z-index: 998; opacity: 0; transition: opacity 1000ms ease 0s;" tabindex="-1">
                            <h3 class="name mb-0 heading5">Naj Pater</h3><span class="degi text-title">Member</span>
                            <p class="text font-medium text-title pt-25">
                                “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aliquam quis, labore, dignissimos hic neque obcaecati dicta perferendis, repellendus suscipit debitis? Ipsum suscipit nesciunt laborum hic alias cum sed maxime!
                                ”
                            </p>
                        </div>
                        <div class="testimonial-content text-center slick-slide slick-current slick-active slick-last slick-first" data-slick-index="2" aria-hidden="false" style="width: 1020px; position: relative; left: -2040px; top: 0px; z-index: 999; opacity: 1;" tabindex="0">
                            <h3 class="name mb-0 heading5">Punjab Labour Department</h3><span class="degi text-title">Government of Punjab</span>
                            <p class="text font-medium text-title pt-25">“We do not collect personal information for any purpose other than to respond to you (for example, to respond to your queries). If you choose to provide us with personal information like filling out a Contact us form with an e-mail address or postal address, and submitting it to us through the website, we use that information to respond to your message, and to help you get the information you have requested. Our website never collects information or creates individual profiles for commercial marketing. Data related to user and of his industry shall only be used internally by the department for processing of fiscal incentives, regulatory clearances and shall not be disclosed to any third party. ”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>