<style>
    .GIGWMenu {
    width: 100%;
    display: none;
    height: 150px;
    margin-top: 115px;
    position: fixed;
    z-index: 9999999;
}
</style>
<section class="vs-values-wrapper vs-values-layout1 py-60 py-lg-130">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12">
                <div class="section-title" style=" margin-bottom:0px;">
                    <h2 class="title1 intro">Screen Reader Access</h2>
                    <span class="icon">
                        <img src="~/assets/img/icon/ebook.png" style="width: 15%;"
                             alt="Section Title Icons">
                    </span>
                    <p class="text introTxt">
                        National Informatics Centre, MeitY, Government Of India website complies with World Wide Web Consortium (W3C) Web Content Accessibility Guidelines (WCAG) 2.0 level AA.
                        This will enable people with visual impairments access the website using assistive technologies, such as screen readers.
                        The information of the website is accessible with different screen readers, such as JAWS.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="vs-blog-wrapper blog-single-layout1">
    <div class="container">
        <div class="row gutters-40 justify-content-center">
            <div class="col-lg-12">
                <div class="vs-blog format-standard has-post-thumbnail">
                    <div class="blog-content">
                        <blockquote class="blockquote mb-30">
                            <p class="mb-0"><b>Following table lists the information about different screen readers:</b></p>
                        </blockquote>
                        <div class="blog-comment-area blog-comments-layout1 pt-lg-40 ">
                            <h3 class="inner-title">Information related to the various screen readers:</h3>
                            <ul class="comment-list">
                                <li class="vs-comment">
                                    <div class="vs-post-comment" style="padding: 15px;">
                                        <div class="comment-content col-lg-12">
                                            <div class="comment-top">
                                                <div class="comment-author">
                                                    <span class="commented-on">Service - I</span>
                                                    <h5 class="name">Non Visual Desktop Access (NVDA).</h5>
                                                    <div class="section-title3" style="padding:0px;">
                                                        <span class="text-primary sub-title">
                                                            <span class="bg-primary text-white">Free</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="reply_and_edit"><a href="http://www.nvda-project.org/" class="vs-btn icon-none style5" data-toggle="tooltip" title="http://www.nvda-project.org/" target="_blank"><span class="btn-text"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read More</span><span class="btn-bg"></span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="vs-comment">
                                    <div class="vs-post-comment" style="padding: 15px;">
                                        <div class="comment-content col-lg-12">
                                            <div class="comment-top">
                                                <div class="comment-author">
                                                    <span class="commented-on">Service - II</span>
                                                    <h5 class="name">System Access To Go (NVDA).</h5>
                                                    <div class="section-title3" style="padding:0px;">
                                                        <span class="text-primary sub-title">
                                                            <span class="bg-primary text-white">Free</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="reply_and_edit"><a href="http://www.satogo.com/" class="vs-btn icon-none style5" data-toggle="tooltip" 
                                                    title="	http://www.satogo.com/" target="_blank"><span class="btn-text"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read More</span><span class="btn-bg"></span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                 <li class="vs-comment">
                                    <div class="vs-post-comment" style="padding: 15px;">
                                        <div class="comment-content col-lg-12">
                                            <div class="comment-top">
                                                <div class="comment-author">
                                                    <span class="commented-on">Service - III</span>
                                                    <h5 class="name">Hal.</h5>
                                                    <div class="section-title3" style="padding:0px;">
                                                        <span class="text-primary sub-title">
                                                            <span class="bg-primary text-white">Commercial</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="reply_and_edit"><a href="http://www.yourdolphin.co.uk/productdetail.asp?id=5" class="vs-btn icon-none style5" data-toggle="tooltip" 
                                                    title="http://www.yourdolphin.co.uk/productdetail.asp?id=5" target="_blank"><span class="btn-text"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read More</span><span class="btn-bg"></span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="vs-comment">
                                    <div class="vs-post-comment" style="padding: 15px;">
                                        <div class="comment-content col-lg-12">
                                            <div class="comment-top">
                                                <div class="comment-author">
                                                    <span class="commented-on">Service - IV</span>
                                                    <h5 class="name">JAWS.</h5>
                                                    <div class="section-title3" style="padding:0px;">
                                                        <span class="text-primary sub-title">
                                                            <span class="bg-primary text-white">Commercial</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="reply_and_edit"><a href="http://www.freedomscientific.com/products/software/jaws/" class="vs-btn icon-none style5" data-toggle="tooltip" 
                                                    title="http://www.freedomscientific.com/products/software/jaws/" target="_blank"><span class="btn-text"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read More</span><span class="btn-bg"></span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="vs-comment">
                                    <div class="vs-post-comment" style="padding: 15px;">
                                        <div class="comment-content col-lg-12">
                                            <div class="comment-top">
                                                <div class="comment-author">
                                                    <span class="commented-on">Service - V</span>
                                                    <h5 class="name">Supernova.</h5>
                                                    <div class="section-title3" style="padding:0px;">
                                                        <span class="text-primary sub-title">
                                                            <span class="bg-primary text-white">Commercial</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="reply_and_edit"><a href="http://www.yourdolphin.co.uk/productdetail.asp?id=1" class="vs-btn icon-none style5" data-toggle="tooltip" 
                                                    title="http://www.yourdolphin.co.uk/productdetail.asp?id=1" target="_blank"><span class="btn-text"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read More</span><span class="btn-bg"></span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="vs-comment">
                                    <div class="vs-post-comment" style="padding: 15px;">
                                        <div class="comment-content col-lg-12">
                                            <div class="comment-top">
                                                <div class="comment-author">
                                                    <span class="commented-on">Service - VI</span>
                                                    <h5 class="name">Window-Eyes.</h5>
                                                    <div class="section-title3" style="padding:0px;">
                                                        <span class="text-primary sub-title">
                                                            <span class="bg-primary text-white">Commercial</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="reply_and_edit"><a href="http://www.gwmicro.com/Window-Eyes/" class="vs-btn icon-none style5" data-toggle="tooltip" 
                                                    title="http://www.gwmicro.com/Window-Eyes/" target="_blank"><span class="btn-text"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read More</span><span class="btn-bg"></span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li> 
                                <li class="vs-comment">
                                    <div class="vs-post-comment" style="padding: 15px;">
                                        <div class="comment-content col-lg-12">
                                            <div class="comment-top">
                                                <div class="comment-author">
                                                    <span class="commented-on">Service - VII</span>
                                                    <h5 class="name">Screen Access For All (SAFA).</h5>
                                                    <div class="section-title3" style="padding:0px;">
                                                        <span class="text-primary sub-title">
                                                            <span class="bg-primary text-white">Free</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="reply_and_edit"><a href="http://safa-reader.software.informer.com/download/" class="vs-btn icon-none style5" data-toggle="tooltip" 
                                                    title="http://safa-reader.software.informer.com/download/ (External website that opens in a new window)" target="_blank"><span class="btn-text"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read More</span><span class="btn-bg"></span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="vs-comment">
                                    <div class="vs-post-comment" style="padding: 15px;">
                                        <div class="comment-content col-lg-12">
                                            <div class="comment-top">
                                                <div class="comment-author">
                                                    <span class="commented-on">Service - VIII</span>
                                                    <h5 class="name">Thunder.</h5>
                                                    <div class="section-title3" style="padding:0px;">
                                                        <span class="text-primary sub-title">
                                                            <span class="bg-primary text-white">Free</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="reply_and_edit"><a href="http://www.screenreader.net/index.php?pageid=2" class="vs-btn icon-none style5" data-toggle="tooltip" 
                                                    title="http://www.screenreader.net/index.php?pageid=2 (External website that opens in a new window)" target="_blank"><span class="btn-text"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read More</span><span class="btn-bg"></span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="vs-comment">
                                    <div class="vs-post-comment" style="padding: 15px;">
                                        <div class="comment-content col-lg-12">
                                            <div class="comment-top">
                                                <div class="comment-author">
                                                    <span class="commented-on">Service - IX</span>
                                                    <h5 class="name">WebAnywhere.</h5>
                                                    <div class="section-title3" style="padding:0px;">
                                                        <span class="text-primary sub-title">
                                                            <span class="bg-primary text-white">Free</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="reply_and_edit"><a href="http://webanywhere.cs.washington.edu/wa.php" class="vs-btn icon-none style5" data-toggle="tooltip" 
                                                    title="http://webanywhere.cs.washington.edu/wa.php (External website that opens in a new window)" target="_blank"><span class="btn-text"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read More</span><span class="btn-bg"></span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>