<style>
        .inner-list ul li:before {
        content: none;
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        left: 0;
        display: inline-block;
        width: 35px;
        height: 35px;
        box-shadow: 0px 5px 20px 0px rgb(17 180 245 / 15%);
        text-align: center;
        line-height: 35px;
        font-size: 14px;
        color: rgb(68, 192, 196);
        font-weight: 400;
        background-color: #fff;
        border-radius: 50%;
    }
    .marginClass{
        width:80%;margin-left:auto;margin-right:auto;
    }
    @@media only screen and (max-width:500px) {
        .title1 {
            font-size: 36px;
            margin-bottom: 15px;
            margin-top: 40px;
        }
    }      .GIGWMenu {
    width: 100%;
    display: none;
    height: 150px;
    margin-top: 115px;
    position: fixed;
    z-index: 9999999;
}
</style>

<section class="vs-values-wrapper vs-values-layout1 py-60">
    <div class="container">
        <div class="row justify-content-center text-center">
        </div>
    </div>
</section>
<section class="vs-values-wrapper vs-values-layout1">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-9 col-xl-7">
                <div class="section-title">
                    <h2 class="title1">Services Provided</h2>
                    <span class="icon">
                        <img src="../assets/img/icon/bell.png" style="width: 20%;"
                             alt="Section Title Icons">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vs-testimonial-wrapper vs-testimonial-layout1">
    <div class="container">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-5 col-xl-6">
                <div class="position-relative d-inline-block"><img class="zoom" src="../assets/img/logo-41.png"> </div>
            </div>
            <div class="col-lg-7 col-xl-6">
                <div class="-about pt-4 pt-lg-0">
                    <h2 class="heading1 font-normal"><strong>List of services being  </strong>provided by<strong class="text-primary2"> The Public Authority.</strong></h2>
                    <div class="inner-list" style="text-align:justify;">
                        <ul>
                            <li>
                                <div class="asciCode">&#8801;</div><div class="asciCodeLI">Registration of Factories under the Factories Act, 1948. The Deputy Director of Factories & Assistant Director of Factories ensures that the occupiers of factories take necessary safety measures so that health
                                    and safety of workers can be protected.</div>
                            </li>
                            <li>
                                  <div class="asciCode">&#8801;</div><div class="asciCodeLI">Registration of Shops & Commercial Establishments Act under the Punjab Shops & Commercial Establishments Act, 1958. Notified cities/ towns under the Act to regulate the working hours of the establishments and
                                    enforce weekly off day and ensuring health and safety of employees.</div>
                            </li>
                            <li>
                                  <div class="asciCode">&#8801;</div><div class="asciCodeLI">Registration of the employers under the Contract Labour (Regulation & Abolition) Act, 1970 licensing of contractors under the Act to regulate the working conditions of contract labour and abolition of contract
                                    labour in certain cases.</div>
                            </li>
                            <li>
                             <div class="asciCode">&#8801;</div><div class="asciCodeLI">Registration of employers and licensing of contractors under the Inter State Migrant Workmen (Regulation of Employment & Conditions of Service) Act, 1979 to regulate the conditions of employment of migrant workers.</div>
                            </li>
                            <li>
                             <div class="asciCode">&#8801;</div><div class="asciCodeLI">Registration of Motor Transport under the Motor Transport Workers Act, 1961.</div>
                            </li>
                            <li>
                             <div class="asciCode">&#8801;</div><div class="asciCodeLI">Registration of employers and licensing of contractors under the Building & Other Constructions Workers (Regulation of Employment & Conditions of Service) Act, 1996.</div>
                            </li>
                            <li>
                              <div class="asciCode">&#8801;</div><div class="asciCodeLI">Registration of trade unions under the Trade Union Act, 1926.</div>
                            </li>
                            <li>
                             <div class="asciCode">&#8801;</div><div class="asciCodeLI">Certification of standing orders under the Industrial Employment Standing Orders Act, 1946.</div>
                            </li>
                            <li>
                             <div class="asciCode">&#8801;</div><div class="asciCodeLI">Fixation/ Revision of minimum wages under Minimum Wages Act, 1948.</div>
                            </li>
                            <li>
                              <div class="asciCode">&#8801;</div><div class="asciCodeLI">Grants permission for layoff/retrenchment of workers in industrial establishments employing hundred or more workers.</div>
                            </li>
                            <li>
                             <div class="asciCode">&#8801;</div><div class="asciCodeLI">Grants permission for closure of industrial establishments employing hundred or more workers.</div>
                            </li>
                            <li>
                              <div class="asciCode">&#8801;</div><div class="asciCodeLI">Appellate authority under the Payment of Gratuity Act 1972.</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
